<nav-bar-directive></nav-bar-directive>
<div class="coverPhoto">
  <img id="coverPic" ng-src='css/img/trout.jpg' alt=""/>

</div>
<div class="computer only ui container">
  <div class="ui stackable grid">

    <div class="sixteen wide mobile twelve wide computer column" id="profileFeed">
        <new-posts-directive></new-posts-directive>
        <br><br>
      <posted-directive posts="posts"></posted-directive>
      <br>
      <div class="actions">
        <div class="ui blue button" ng-click="readMore()">ReadMore</div>
      </div>
    </div>
    <div id="profileFollowing" class="sixteen wide mobile four wide computer column">

    <fish-of-the-day-directive></fish-of-the-day-directive>
    <br>
    <following-directive></following-directive>

      </div>

    </div>

  </div>
</div>
