<video class="loginBackground" src="css/img/Relaxation.mp4" autoplay="autoplay" loop="loop" muted="true"></video>
<div class="cortin"></div>
<br>
<div id="mainLogin" class="ui middle aligned center aligned grid">

  <div class="column" id="loginColumn">
    <h2 id="loginTitle" class="ui image header">
      <!-- <img src="css/img/loginIcon.png" class="image"> -->
      <div class="content">
        <img id="logoImg" src="css/img/mainLogo.svg"/>

        <h6>Log-in to your account</h6>
      </div>
    </h2>
    <div id="loginForm" class="ui large form" ng-keypress="pressEnter($event, user)">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" ng-model="user.email"placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password"  ng-model="user.password" placeholder="Password">
          </div>
        </div>
        <div id="loginButton"class="ui fluid large blue button" ng-click="login(user)">Login</div>
        <br>
        or sign in with
        <br><br>
        <button class="ui facebook button">
          <i class="facebook icon"></i>
          Facebook</button>

      </div>

      <div class="ui error message"></div>

    </div>

    <div class="ui message">
      Don't have an account?
      <a id="signerUper" href="">Sign Up</a>
      <register-directive></register-directive>

    </div>
  </div>
</div>
