<nav-bar-directive></nav-bar-directive>
<div class="coverPhoto">
  <img id="coverPic" ng-src={{user.coverPic}} alt=""/>
  <!-- <img id="profilePic"src="css/img/profilepic.jpg" alt="" /> -->
</div>
<div class="ui container">
  <div class="ui stackable grid">
    <div class="four wide column">
      <profile-card-directive current-user="user"></profile-card-directive>
    </div>
    <div class="eight wide column" id="profileFeed">
      <br>
      <posted-directive posts="posts"></posted-directive>
    </div>
    <div id="profileFollowing" class="four wide column">
      <br>
      <following-directive></following-directive>
    </div>
  </div>

</div>
</div>
