<nav-bar-directive></nav-bar-directive>
<div class="coverPhoto">
  <img id="coverPic" class='ui image' ng-src={{user.coverPic}} alt=""/>
  <div id="changeCoverPic">
      <a id="changeCoverPicIcon" href=""><i class="photo large inverted icon"></i></a>
  </div>
</div>
<div class="ui container">
  <div class="ui stackable grid">
    <div class="four wide column">
      <profile-card-directive current-user="user"></profile-card-directive>
    </div>
    <div class="eight wide column" id="profileFeed">
      <br>
      <posted-directive posts="posts"></posted-directive>
    </div>
    <div id="profileFollowing" class="four wide column">
      <br>
      <following-directive></following-directive>
    </div>
  </div>

</div>
</div>
