<div id="newPostButton" class="ui primary icon button">
  <i class="icon edit"></i>
  New Post
</div>
<div class="ui large modal" id="newPostId">
  <i class="close icon"></i>
  <div class="header">
    <img class="ui avatar image" src="css/img/justFishBlackLogo.png" alt=""/>
    New Post
    <br><br>
    <div class="ui form">
      <div class="grouped fields">
        <label>What kind of Post is this?</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="frequency" checked="checked" ng-model="newPost.typeOfPost" value="report">
            <label>Fishing Report</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="frequency" ng-model="newPost.typeOfPost" value="bragging">
            <label>Bragging Post</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="frequency" ng-model="newPost.typeOfPost" value="funny">
            <label>Funny</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <select class="ui fluid multiple search medium dropdown" ng-model="newPost.waterbody" multiple="">
    <option value="">Where did you fish?</option>
    <option value="Bear Lake">
      Bear Lake</option>
    <option value=" Blacksmith Fork River">
      Blacksmith Fork River</option>
    <option value="Bountiful Lake">
      Bountiful Lake</option>
    <option value="Causey Reservoir">
      Causey Reservoir</option>
    <option value="East Canyon">
      East Canyon Reservoir & State Park</option>
    <option value="Echo Reservoir">
      Echo Reservoir</option>
    <option value="Farmington Pond">
      Farmington Pond</option>
    <option value="Holmes Creek">
      Holmes Creek Reservoir</option>
    <option value="Hyrum Reservoir">
      Hyrum Reservoir & State Park</option>
    <option value="Jensen Nature">
      Jensen Nature Park Pond</option>
    <option value="Kaysville Ponds">
      Kaysville Ponds</option>
    <option value="Logan River">
      Logan River</option>
    <option value="Lost Creek ">
      Lost Creek Reservoir</option>
    <option value=" Mantua Reservoir">
      Mantua Reservoir</option>
    <option value="Ogden River">
      Ogden River</option>
    <option value="Pineview Reservoir">
      Pineview Reservoir</option>
    <option value="Rockport Reservoir">
      Rockport Reservoir</option>
    <option value="Uinta Mountains">
      Uinta Mountains</option>
    <option value="Weber River">
      Weber River</option>
    <option value="Willard Bay Reservoir">
      Willard Bay Reservoir</option>
  </select>
  <form class="ui large icon reply form">
    <div class="field">
      <textarea placeholder="Post" ng-model="newPost.postMessage"></textarea>
      <div class=" content">
        <div class="item">
          <div class="two fields">
            <div class="three wide field">
              <div id="ratingNewPostTemplate" class="ui huge star rating rateThePlace" data-rating="0" data-max-rating="5" data-content="Please rate the place" ng-click="getRating();" ng-model="newPost.rating" value="data-rating"></div>
            </div>
            <div class="thirteen wide field">
              <input classtype="text" name="postPic" placeholder="Add photo url" ng-model="newPost.postPic">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="actions">
    <div class="ui negative button">Cancel</div>
    <div class="ui blue button" ng-click="createNewPost()">OK</div>
  </div>
</div>
