.coverPhoto {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40vh;
  background: black;
  z-index: 1;
}
#coverPic {
position: absolute;
width:100%;
height: 100%;
object-fit:cover;
z-index: 1;
}
#profileCard {
  position: relative;
  top: -30vh;
  max-width: 400px;
  z-index: 5;
}
#profilePic {
  position: relative;
  border: 5px solid white;
  border-radius: 7px;
  width:100%;
  max-height: 45vh;
  object-fit: cover;

}
#profileFeed {
position: relative;
top: 5vh;
font-family: Oswald;
font-size: 12px;
}

#profileFollowing{
  position: relative;
  top: 5vh;

}
body {
  background: rgba(33,133,208,0.1);
  font-family: Oswald;
}
.popUpper {
  margin: 2px 1.5px;
  border: 0.2px solid lightgray;
}

#followingTitle {
  float: left;
}
#ratingNewPostTemplate {
  position: relative;
  top: 11px;
}
#postedAvatarImage {
  object-fit: cover;
}
#fishOfTheDayAvatarImage {
  object-fit: cover;

}
#followingPics {
  position: relative;
  height: 7vw;
  width: 4vw;
  object-fit: cover;
  border: 0.01px solid rgba(199, 199, 199, 0.72);
}
#changeCoverPic{
  position:absolute;;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  z-index: 10;
  opacity: .5;
}
#changeCoverPicIcon{
  position: relative;
  bottom: 1vh;
  display: flex;
  align-self: flex-end;
}
#changeCoverPicIcon i{
  text-shadow: black 1px 1px 1px;
}
#changeProfilePic{
  position:absolute;;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  z-index: 10;
  opacity: .5;
  bottom: 1vh;
  right: 0.4vw;
}
#changeProfilePicIcon{
  position: relative;
  display: flex;
  align-self: flex-end;
}
#changeProfilePicIcon i{
  text-shadow: black 1px 1px 1px;
}
