<div class="ui column">

<select class="ui huge multiple search dropdown" ng-model="filterInReport" ng-change="getFilterByPlace(filterInReport)" multiple="">
  <option value="">Filter by Place</option>
  <option value="Bear Lake">
    Bear Lake</option>
  <option value=" Blacksmith Fork River">
    Blacksmith Fork River</option>
  <option value="Bountiful Lake">
    Bountiful Lake</option>
  <option value="Causey Reservoir">
    Causey Reservoir</option>
  <option value="East Canyon">
    East Canyon Reservoir & State Park</option>
  <option value="Echo Reservoir">
    Echo Reservoir</option>
  <option value="Farmington Pond">
    Farmington Pond</option>
  <option value="Holmes Creek">
    Holmes Creek Reservoir</option>
  <option value="Hyrum Reservoir">
    Hyrum Reservoir & State Park</option>
  <option value="Jensen Nature">
    Jensen Nature Park Pond</option>
  <option value="Kaysville Ponds">
    Kaysville Ponds</option>
  <option value="Logan River">
    Logan River</option>
  <option value="Lost Creek ">
    Lost Creek Reservoir</option>
  <option value=" Mantua Reservoir">
    Mantua Reservoir</option>
  <option value="Ogden River">
    Ogden River</option>
  <option value="Pineview Reservoir">
    Pineview Reservoir</option>
  <option value="Rockport Reservoir">
    Rockport Reservoir</option>
  <option value="Uinta Mountains">
    Uinta Mountains</option>
  <option value="Weber River">
    Weber River</option>
  <option value="Willard Bay Reservoir">
    Willard Bay Reservoir</option>

</select>
</div>
